<div class="dashboard-container">
    <h1>Dashboard</h1>

    <div class="button-container">
        <p-button label="Fornecedor" icon="pi pi-users" styleClass="large-button"
            (click)="navegarPara('/fornecedores')"></p-button>
        <p-button label="Produtos" icon="pi pi-box" styleClass="large-button"
            (click)="navegarPara('/produtos')"></p-button>
        <p-button label="Nota Fiscal" icon="pi pi-file" styleClass="large-button"
            (click)="navegarPara('/notas-fiscais')"></p-button>
    </div>

</div>